@{
    ViewBag.Title = "Acerca de";
}
<div class="panel panel-default widget">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-info-sign"></span> @ViewBag.Title
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <h2>Torneo Antonio Campoy</h2>
            <img src="~/Content/images/site/campoy.jpg" alt="" class="pull-left img-responsive img-thumbnail" style="margin-right:15px">
            <article>
                <p class="text-justify" style="font-size:medium">
                    A mediados de 2010 un grupo de jugadores habituales de Pitch&Putt, todos ellos amigos, deciden
                    iniciar un torneo de verano con la finalidad de satisfacer su espíritu competitivo compartiendo
                    asimismo su afición por este deporte.
                </p>
                <p class="text-justify" style="font-size:medium">
                    Desde entonces han sido cuatro las ediciones que se han llevado a cabo, una por cada año,
                    todas ellas patrocinadas por <strong>Don Antonio Campoy Abellán</strong> quien
                    de forma altruista y totalmente desinteresada, ha proporcionado los premios para los participantes y
                    ha puesto todo su empeño y cariño en fomentar los lazos que hoy en día unen a esta gran familia.                    
                </p>
                <p class="text-justify" style="font-size:medium">
                    Por esta razón y como muestra de agradecimiento y admiración, es él quien da nombre a
                    este proyecto.
                </p>   
                <p class="text-justify" style="font-size:medium">
                    Aprovechando asimismo la ocasión para recordar a los amigos que ya no están con nosotros y muy especialmente
                    a Jose María Garcés que dejó un vacío muy grande entre nosotros.
                </p>    
            </article>
        </div>
        <div class="col-md-12">
            <h2>Agradecimientos</h2>
            <article>
                <p class="text-justify" style="font-size:medium">
                    Como no podia ser de otra manera quiero hacer una mención especial a <strong>mis padres</strong> por todo su apoyo 
                    incondicional y por no haber perdido nunca la confianza en mi. Sin vosotros jamás hubiera llegado hasta aquí.
                </p>             
                <h3>¡Muchísimas gracias!</h3>
            </article>
        </div>
    </div>
</div>