@using WebApplication.Models.Remind
@model RemindModel

<script type="text/javascript">
    $(document).ready(function () {
        // Set form to submit as ajax.
        $('#remindForm').ajaxForm({
            dataType: 'json',
            beforeSubmit: function (arr, $form, options) {
                $('#remindLoader').removeClass('hide');
                $('#buttonSend').addClass('hide');
                $('#buttonCancel').addClass('hide');
                $('#buttonExit').addClass('hide');
            },
            success: function (result) {
                $('#remindLoader').addClass('hide');
                $('#buttonExit').removeClass('hide');
                $('#remindStatus').html(result.Status);
            }
        });
    });

    function restart() {
        $('#buttonSend').removeClass('hide');
        $('#buttonCancel').removeClass('hide');
        $('#buttonExit').addClass('hide');
        $('#remindStatus').text('');
    };
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Remind", "Login", FormMethod.Post, new { id = "remindForm" }))
        {            
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Recuperación de contraseña</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <p class="help-block">Introduzca el correo electrónico con el que inicia sesión.</p>
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "email", placeholder = "Correo electrónico", required = "true", type = "email" })
                    </div>

                    <div id="remindLoader" align="center" class="hide"> <img src="~/Content/images/ajax-loader.gif"> </div>
                    <div id="remindStatus" class="field-validation-error"></div>
                    <div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="buttonCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="buttonSend" type="submit" class="btn btn-primary">Enviar</button>
                    <button id="buttonExit" type="button" class="btn btn-default hide" onclick="restart()" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        }
    </div>
</div>
