<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Oops...</h1>
                    <h2>Esto no es bueno!!
                    </h2>
                    <div class="error-details">
                        Se ha producido un error
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Volver al inicio
                        </a><a href="/Contact/Index" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span>
                            Contáctenos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
