<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Oops...404</h1>
                    <h2>
                        La página solicitada no se encuentra disponible
                    </h2>
                    <div class="error-details">
                        Disculpe las molestias
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Volver al inicio
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>