@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
  <title>Navegador Obsoleto o No Soportado</title>  
  <link rel="Stylesheet" href="@Href("~/Content/messages.css")" />
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1>Su navegador no está soportado</h1>
  </div>
  <div id="content">
    <div id="inner">
      <h2>Parece que está utilizando un navegador obsoleto o no soportado.</h2>      
      <p align="center">Le sugerimos que actualice su navegador</p>
      <div id="choices">        
        <table align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><a id="download-chrome" title="Chrome" href="http://www.google.com/chrome/">Google Chrome</a></td>
            <td><a id="download-firefox" title="Firefox" href="http://www.mozilla.org/firefox/">Mozilla Firefox</a></td>
            <td><a id="download-safari" title="Safari" href="http://www.apple.com/safari/">Apple Safari</a></td>
            <td><a id="download-ie" title="Internet Explorer" href="http://go.microsoft.com/fwlink/?LinkID=166930">Internet Explorer</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>
</body>
</html>